# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
.tox/
.nox/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.env
.vscode/
.idea/

# SonarQube/Code coverage
.scannerwork/
coverage-report/
